<div class="toast-container">
  @for (toast of toastService.toasts; track toast.id) {
    <div class="toast-item" [ngClass]="'toast-' + toast.type" (click)="dismiss(toast.id)">
      <div class="toast-icon">
        <i class="bi" [class]="getIcon(toast.type)"></i>
      </div>
      <div class="toast-body">
        <span class="toast-text">{{ toast.text }}</span>
      </div>
      <button class="toast-close" (click)="dismiss(toast.id)">
        <i class="bi bi-x-lg"></i>
      </button>
      <div class="toast-progress"></div>
    </div>
  }
</div>
